<h1>Restaurants</h1>

<h4><%= link_to 'Add a new restaurant', new_restaurant_path %></h4>
<br>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
  <br>
  <% end %>
</ul>
